.scene-container {
  background-color: white;
}

.scene-container canvas {
  
}

.scene-loader {
  position: absolute;
  z-index: 100;
  background-color: #f7ec30;
  color: #8a5e3b;
}

.ringloader {
  margin-left: 30%;
  margin-top: 50px;
}

.scene-loader p {
  text-align: center;
  margin-top: 10%;
  font-size: 16pt;
  animation: glow .5s infinite alternate;
}

@keyframes glow {
  to {
    text-shadow: 2px 0 4px white;
  }
}