.deck-button {
  width: 200px;
  height: 200px;
  background-color: rgba(150, 50, 50, 1);
  border: solid;
}

.wheels-button {
  width: 200px;
  height: 200px;
  background-color: rgba(150, 50, 50, 1);
  border: solid;
}

.wood-button {
  width: 200px;
  height: 200px;
  background-color: rgba(150, 50, 50, 1);
  border: solid;
}